.formgrp
{
    display: flex;
    flex-direction: column;
}



.content h1
{
    margin: 20px;
    padding: 20px;
}

.form-input 
{
    position: relative;
    left: 20px;
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 18px;
    /* font-weight: bolder; */
    background-color: #e0d5d5;
    padding: 10px 10px;
    margin: 10px 10px;
    text-transform: capitalize;
    transition: all 0.2s;
}

.form-input:hover
{
    background-color: white;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'Baloo Bhai 2', cursive;
    transform: scale(1.05);
}

.formgrp label
{
    position: relative;
    left: 33px;
    font-size: 25px;
    padding: 0px;
}

#textarea
{
    width: 50vw;
    height: 25vh;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.contbtn
{
    position: relative;
    left: 20vw;
    
}

#sub
{
    margin-bottom: 20px; 
}


#sub
{
    position: relative;
    left: 20vw;
    height: 9vh;
    width: 18vw;
    border-radius: 14%;
    /* padding: 10px; */
}

#sub:hover
{
    height: 9vh;
    width: 18vw;
    border-radius: 15%;
    background-color: rgb(157, 231, 157);
    cursor: pointer;
    border-radius: 2%;
    transition: all 0.3s;
    /* padding: 10px; */
    transform: scale(1.1);
}
