*
{
    margin: 0;
    padding: 0;
}

.max-width-1
{
    max-width: 80vw;
}

.max-width-2
{
    max-width: 60vw;
}

.m-auto
{
    margin: auto;
}

.circular-image
{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.btn
{
    height: 6vh;
    width: 5vw;
    border-radius: 14%;
    /* padding: 10px; */
}

.btn:hover
{
    height: 6vh;
    width: 5vw;
    border-radius: 15%;
    background-color: rgb(157, 231, 157);
    cursor: pointer;
    border-radius: 2%;
    transition: all 0.3s;
    /* padding: 10px; */
    transform: scale(1.1);
}

.footer
{
    background-color: #861b1b;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    bottom: 0px;
    position: relative;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}